
// veriable of media queries
$small_screen:"(min-width:320px) and (max-width:767px)";
$medium_screen:"(min-width:768px) and (max-width:992px)";
$big_screen:"(min-width:993px) and (max-width:1200px)";

// variable of colors
$mainColor:"linear-gradient(rgba(74,188,189,0.7),rgba(151,148,201,0.7))";
$colorP:#333;
$colorH:#f8f8f8; // special to header of background black
$colorHb:#333; //sperial to header of bacground white
